data/extracted_source_code
build/*
node_modules/
package-lock.json
*.pyc
*.pth
*.zip
.DS_Store
_static

.ipynb_checkpoints
outputs/*
logs/
logs*/
*.ipynb
**/logs/
**/logs*/
**/dataset/
data/
models/
results/
build/