.comment{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding-left: 5px;

}
.col{
    display:inline-block;
    width: 20%;
}
.line{
    grid-template-columns: 20% 20% 20% 20% 20%;
}
#entrypoint{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#CD5C5C;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#new_var{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#FFB6C1;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#expression{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#FF8C00;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#if{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#FFFF00;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#endif{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#DDA0DD;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#func{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#DA70D6;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#other{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#8B008B;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#throw{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#6A5ACD;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#_{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#7FFF00;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#return{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#00FF7F;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#inline{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#6B8E23;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#bg_loop{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#008080;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#end_loop{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#ADD8E6;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#ifloop{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#5F9EA0;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#continue{
    display:inline-block;
    width:30px;
    height:10px;
    background-color:#150517;
    border: 1px solid #ccc;
    border-radius: 3px;
}


